<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="template/head :: meta" />
    <th:block th:replace="template/head :: css" />
    <th:block th:replace="template/head :: javascript" />
    <th:block th:replace="template/head :: javascript-template" />

    <th:block th:replace="template/head :: calendar"/>

    <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                //events: "/calendar/CalendarJsonEvent",
                businessHours: true,
                events: [
                    {
                        title: 'Business Lunch',
                        start: '2017-04-03T13:00:00',
                        constraint: 'businessHours'
                    },
                    {
                        title: 'Meeting',
                        start: '2017-04-13T11:00:00',
                        constraint: 'availableForMeeting', // defined below
                        color: '#257e4a'
                    },
                    {
                        title: 'Traveling',
                        start: '2017-03-28',
                        end: '2017-03-31'
                    },
                    {
                        title: 'Driving lessons',
                        start: '2017-04-13',
                        end: '2017-04-16'
                    },
                    {
                        title: 'Conference',
                        start: '2017-04-18',
                        end: '2017-04-20'
                    },
                    {
                        title: 'Party',
                        start: '2017-04-29T20:00:00'
                    },

                    // areas where "Meeting" must be dropped
                    {
                        id: 'availableForMeeting',
                        start: '2017-04-11T10:00:00',
                        end: '2017-04-11T16:00:00',
                        rendering: 'background'
                    },
                    {
                        id: 'availableForMeeting',
                        start: '2017-04-13T10:00:00',
                        end: '2017-04-13T16:00:00',
                        rendering: 'background'
                    },

                    // red areas where no events can be dropped
                    {
                        start: '2017-04-24',
                        end: '2017-04-28',
                        overlap: false,
                        rendering: 'background',
                        color: '#ff9f89'
                    },
                    {
                        start: '2017-04-06',
                        end: '2017-04-08',
                        overlap: false,
                        rendering: 'background',
                        color: '#ff9f89'
                    }
                ],

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: '2017-04-12',
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectHelper: true,
                select: function(start, end) {
                    var title = prompt('Event Title:');
                    var eventData;
                    if (title) {
                        eventData = {
                            title: title,
                            start: start,
                            end: end
                        };
                        $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                    }
                    $('#calendar').fullCalendar('unselect');
                },
                editable: true,
                eventLimit: false

            });

        });
    </script>

</head>
<!--/*@thymesVar id="User" type="com.itsupportme.gis.entity.User"*/-->
<body th:class="${'skin-' + T(com.itsupportme.gis.component.layout.ThemesRepository)
                                .getThemes().get(User.getUserDetails().getTheme())}">
<div class="wrapper">
    <th:block th:replace="template/main :: header" />
    <th:block th:replace="template/main :: sidebar" />
    <div class="content-wrapper">
        <th:block th:replace="template/main :: content-header" />
        <!--Content comes here-->
        <section class = "content">

            <div class="row">
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <div id="calendar" class="fc fc-ltr fc-unthemed"></div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <th:block th:replace="template/main :: footer" />
</div>
</body>
</html>